<p class="text-center fs-3" [ngClass]="isAccountCreated ? 'text-success pb-1' : 'text-danger pb-1'">
  {{ displayingMsg }}</p>
<div class="container">
 <div class="row d-flex justify-content-center">
        <div class="col-md-6">

  <form [formGroup]="registerForm" (ngSubmit)="registerSubmitted()" class="card px-3 py-5">

    <h1 for="name" class="form-label">Register Now !</h1>
    <div class="row">
      <div class="col mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" formControlName="name" placeholder="Enter Full Name" />
        <div class="form-text text-danger" *ngIf="Name.errors?.['required'] && (Name.touched || Name.dirty)">
          First Name is Required.
        </div>
        <div class="form-text text-danger" *ngIf="Name.errors?.['minlength'] && (Name.touched || Name.dirty)">
          First Name is too short.
        </div>
        <div class="form-text text-danger" *ngIf="Name.errors?.['pattern'] && (Name.touched || Name.dirty)">
          First Name should start with Alphabet.
        </div>
      </div>
    </div>


    <div class="row">

      <div class="col mb-3">
        <label for="email" class="form-label">Email address</label>

        <input type="email" class="form-control" id="email" formControlName="email" placeholder="Enter Email ID" />
        <div class="form-text text-danger" *ngIf="Email.errors?.['required'] && (Email.touched || Email.dirty)">
          Email is Required.
        </div>

        <div class="form-text text-danger" *ngIf="Email.errors?.['email'] && (Email.touched || Email.dirty)">
          Email is Invalid.
        </div>

        <div class="form-text"></div>
      </div>

    </div>
    <div class="row">
      <div class="col mb-3">
        <label for="role" class="form-label"> Choose Your Role</label>
        <select #teams (change)="onSelected(teams.value)" class="form-control" id="role" formControlName="role">
          <option value="">--Select Role--</option>
          <option>Admin</option>
          <option>Accounts</option>
          <option>SuperAdmin</option>
        </select>
      </div>
    </div>
    <div class="row">

      <div class="col-md-6 mb-3">
        <label for="Password" class="form-label">Password</label>
        <input type="Password" class="form-control" id="Password" formControlName="Password" placeholder="Enter Passowrd" />
        <div class="form-text text-danger"
          *ngIf="Password.errors?.['required'] && (Password.touched || Password.dirty)">
          Password is Required.
        </div>
        <div class="form-text text-danger"
          *ngIf="Password.errors?.['minlength'] || Password.errors?.['maxlength'] &&(Password.touched || Password.dirty)">
          Password should be at least 6 and at the max 15 characters long.</div>

        <div class="form-text"></div>

      </div>

      <div class="col-md-6 mb-3">
        <label for="cpwd" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" id="cpwd" formControlName="cpwd" placeholder="Enter Confirm Passowrd" />
        <div class="form-text text-danger" [ngStyle]="{ display: repeatPass }">
          Passowrd does not match..
        </div>

        <div class="form-text"></div>

      </div>

    </div>

    <div class="row">

          <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary col-md-12"
            style="padding: 10px;font-size: 13px;font-weight: bolder">
            Submit</button>

    </div>

  </form>
</div>
</div>
</div>