<form  [formGroup]="loginForm" (ngSubmit)="onSubmit()">
 <div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <div class="card px-3 py-5" id="form1">
                 <h1 for="name" class="form-label">Sign IN !</h1>
                <div class="form-group">
                   <b for="name" class="form-label">UserName</b>
                    <input type="text" class="form-control mt-2" formControlName="userName" placeholder="Enter Username"/>
                    <div class="form-text text-danger" *ngIf="loginForm.controls.userName.errors?.['required'] && (loginForm.controls.userName.touched || loginForm.controls.userName.dirty)">
                      Email is Required.
                    </div>
                    <div class="form-text text-danger" *ngIf="loginForm.controls.userName.errors?.['email'] && (loginForm.controls.userName.touched || loginForm.controls.userName.dirty)">
                      Email is Invalid.
                    </div>
                </div>

                 <div class="form-group mt-3">
                  <b for="name" class="form-label">Password</b>
                  <input type="password" class="form-control mt-2" formControlName="password" placeholder="Enter Pass***"/>
                  <div class="form-text text-danger" *ngIf="loginForm.controls.password.errors?.['required'] && (loginForm.controls.password.touched || loginForm.controls.password.dirty)">
                      Password is Required.
                  </div>
                </div>

                <div class="form-group mt-3">
                 <button type="submit" class="btn btn-primary col-md-12" style="padding: 10px;font-size: 13px" [disabled]="!loginForm.valid">Login</button>
                </div>

            </div>
        </div>
    </div>
</div>
</form>